# Extract

In [1]:
import bs4
import requests
import pandas as pd

In [2]:
responses = []
for i in range(1, 18):
    response = requests.get("https://www.linio.com.co/c/libros/literatura-y-novelas?page={}".format(i))
    responses.append(response)

In [3]:
soups = []
for i in range(len(responses)):
    soup = bs4.BeautifulSoup(responses[i].text, "html.parser")
    soups.append(soup)

In [4]:
titles_book = []
for i in range(len(soups)):
    titles = soups[i].select("span.title-section")
    for title in titles:
        titles_book.append(title.string)

In [5]:
titles_book[0:6]

['Jaque Al Psicoanalista',
 'Libro El Hombre Mas Rico De Babilonia +...',
 'Libro El Milagro De La Din√°mica Mental',
 'Quinientas Veces Tu Nombre',
 'Pascualina Hollywood 2019',
 'Asfixia']

In [6]:
len(titles_book)

1000

In [7]:
prices_book = []
for i in range(len(soups)):
    prices = soups[i].select("span.price-main")
    for price_1 in prices:
        prices_book.append(price_1.text)

In [8]:
prices_book[0:6]

['$52.000\n          \n\n',
 '$15.900\n          \n\n',
 '$15.900\n          \n\n',
 '$64.900\n          \n\n',
 '$70.000\n          \n\n',
 '$59.900\n          \n\n']

In [9]:
len(prices_book)

1000

In [10]:
urls = []
for i in range(len(soups)):
    url = soups[i]
    for link in url.select("div.catalogue-product.row a"):
        urls.append(link.get("href"))

In [11]:
urls[0:10]

['/p/jaque-al-psicoanalista-qck95p?qid=c6b382d3d39f250fa314e14b92d281ac&oid=PE516BK0XMXNELACO&sku=PE516BK0XMXNELACO',
 '/p/jaque-al-psicoanalista-qck95p',
 '/p/jaque-al-psicoanalista-qck95p',
 '/p/libro-el-hombre-mas-rico-de-babilonia-separador-de-pa-gina-n55va3?qid=c6b382d3d39f250fa314e14b92d281ac&oid=2F9077A1B7449789584827449&sku=MU087BK160CQ0LCO',
 '/p/libro-el-hombre-mas-rico-de-babilonia-separador-de-pa-gina-n55va3',
 '/p/libro-el-hombre-mas-rico-de-babilonia-separador-de-pa-gina-n55va3',
 '/p/libro-el-milagro-de-la-dina-mica-mental-n2p9h1?qid=c6b382d3d39f250fa314e14b92d281ac&oid=MU087BK18AQS2LCO&sku=MU087BK18AQS2LCO',
 '/p/libro-el-milagro-de-la-dina-mica-mental-n2p9h1',
 '/p/libro-el-milagro-de-la-dina-mica-mental-n2p9h1',
 '/p/quinientas-veces-tu-nombre-oqrtay?qid=c6b382d3d39f250fa314e14b92d281ac&oid=DE106BK11Y98WLACO&sku=DE106BK11Y98WLACO']

In [12]:
len(urls)

3000

In [13]:
df = pd.DataFrame({"URLS":urls})

In [14]:
df = df.drop_duplicates(keep=False)

In [15]:
df[0:6]

                                                 URLS
0   /p/jaque-al-psicoanalista-qck95p?qid=c6b382d3d...
3   /p/libro-el-hombre-mas-rico-de-babilonia-separ...
6   /p/libro-el-milagro-de-la-dina-mica-mental-n2p...
9   /p/quinientas-veces-tu-nombre-oqrtay?qid=c6b38...
12  /p/pascualina-hollywood-2019-qg5nda?qid=c6b382...
15  /p/asfixia-qd4al6?qid=c6b382d3d39f250fa314e14b...

In [16]:
len(df)

1000

# Transform

In [84]:
df["SQRT"] = "https://www.linio.com.co"

In [85]:
df["URLS"]= df["SQRT"].str.cat(df["URLS"], sep="")

In [87]:
df[0:6]

,URLS,SQRT
0,https://www.linio.com.co/p/jaque-al-psicoanali...,https://www.linio.com.co
3,https://www.linio.com.co/p/libro-el-hombre-mas...,https://www.linio.com.co
6,https://www.linio.com.co/p/libro-el-milagro-de...,https://www.linio.com.co
9,https://www.linio.com.co/p/quinientas-veces-tu...,https://www.linio.com.co
12,https://www.linio.com.co/p/pascualina-hollywoo...,https://www.linio.com.co
15,https://www.linio.com.co/p/asfixia-qd4al6?qid=...,https://www.linio.com.co

In [88]:
urls = list(df["URLS"])

In [89]:
len(urls)

1000

In [75]:
urls[0:6]

['https://www.linio.com.co/p/jaque-al-psicoanalista-qck95p?qid=267e1ffc4f4534e337be9da3cfcd7860&oid=PE516BK0XMXNELACO&sku=PE516BK0XMXNELACO',
 'https://www.linio.com.co/p/libro-el-hombre-mas-rico-de-babilonia-separador-de-pa-gina-n55va3?qid=267e1ffc4f4534e337be9da3cfcd7860&oid=2F9077A1B7449789584827449&sku=MU087BK160CQ0LCO',
 'https://www.linio.com.co/p/libro-el-milagro-de-la-dina-mica-mental-n2p9h1?qid=267e1ffc4f4534e337be9da3cfcd7860&oid=MU087BK18AQS2LCO&sku=MU087BK18AQS2LCO',
 'https://www.linio.com.co/p/quinientas-veces-tu-nombre-oqrtay?qid=267e1ffc4f4534e337be9da3cfcd7860&oid=DE106BK11Y98WLACO&sku=DE106BK11Y98WLACO',
 'https://www.linio.com.co/p/pascualina-hollywood-2019-qg5nda?qid=267e1ffc4f4534e337be9da3cfcd7860&oid=TH727BK0TS6Z2LCO&sku=TH727BK0TS6Z2LCO',
 'https://www.linio.com.co/p/asfixia-qd4al6?qid=267e1ffc4f4534e337be9da3cfcd7860&oid=NO848BK0X6SEOLACO&sku=NO848BK0X6SEOLACO']

6