# Extract

In [257]:
import bs4
import requests
import pandas as pd

In [258]:
responses = []
for i in range(1, 10):
    response = requests.get("https://www.buscalibre.com.co/libros/categoria-novela/74?page={}".format(i))
    responses.append(response)

In [259]:
soups = []
for i in range(len(responses)):
    soup = bs4.BeautifulSoup(responses[i].text, "html.parser")
    soups.append(soup)

In [260]:
len(soups)

9

In [261]:
titles_book = []
for i in range(len(soups)):
    for j in range(1, 95):
        titles = soups[i].select("div.producto.dcto{}.testgrillameta div.nombre".format(j))
        for title in titles:
            titles_book.append(title.string)

In [262]:
len(titles_book)

412

In [263]:
prices_book = []
for i in range(len(soups)):
    for j in range(1, 95):
        prices = soups[i].select("div.producto.dcto{}.testgrillameta div.precioAhora".format(j))
        for price_1 in prices:
            prices_book.append(price_1.text)

In [264]:
len(prices_book)

412

# Transform

In [265]:
df = pd.DataFrame({"name":titles_book, "price":prices_book})

In [266]:
df[0:5]

                                                name     price
0                      El Temor de un Hombre Sabio    $ 47.000
1                          El Pozo de la Ascension    $ 63.190
2                                           Origen    $ 96.381
3   Santa María De Iquique. La Muerte de la Repúb...  $ 82.000
4                             UNA COLUMNA DE FUEGO    $ 54.048

In [267]:
df["price"] = (df["price"].apply(lambda name: name.split("$")[1])
               .map(lambda point:point.split("."))
               .map(lambda unit:''.join(unit)).astype(int))

In [268]:
df[0:5]

                                                name  price
0                      El Temor de un Hombre Sabio    47000
1                          El Pozo de la Ascension    63190
2                                           Origen    96381
3   Santa María De Iquique. La Muerte de la Repúb...  82000
4                             UNA COLUMNA DE FUEGO    54048